*{
    margin: 0; padding: 0;
   
}
:root {
    --font-family: 'playfair Display', serif;
    --button-cancel: rgb(253, 14, 14);
    --color-principal: rgba(96, 79, 44, 0.86);
    --color-second: rgba(255, 255, 255, 0.99);
    --color-third: rgb(0, 0, 0);
    --color-fourth: rgba(255, 68, 0, 0.897);
    

 }



 .navbar-brand{ display: inline-flex;
font-weight: 500;
border: solid black;

 }

.navbar-brand span { 
 font-size: 6em; 
}
.navbar-brand h1 { 
     font-size: 6em; 
    }

.nav-link {font-weight: 500;}











.index-firt { padding: 20px 30px;
    
}

.index-firt section h2 { text-align: center; text-transform: uppercase; font-family: var(--font-family); font-size: 30px; }


.index img { padding: 5px; width: 250px; } 

.index-galery { border: #000; display: flex; justify-content: center; }  

.intro { text-align: center; font-size: 20px; font-family:var(--font-family) }
 
h2 { text-transform: uppercase; color: #3b3636;margin-top: 5px; font-family:var(--font-family)}
 