.filters{
 
    margin-top: 10px; 
    padding: 0 20px 30px 30px;
    border-top: solid black;
   
    
    label{
        font-size:$text-sm;
        font-weight:300;

    }
  
}
.shop-one{
    ul { 
        text-align: center;
        background-color:$color-third;
        padding: 0;
        font-family:$main-font;
        font-weight: $text-first;
        width: 100%;
        li {
           
            padding-left: 0 10px;
            list-style:none;  
            }
          }
          span {
            b{
                font-weight:$text-regular;
                font-family:$main-font;
            }
          }
}


.categories-one{
    margin-top: 10px; 
    padding: 0 20px 30px 30px;
    border-top: solid $color-third;
    padding-top: 10px;
   

}
    
    
      .accessory {
       
        span {
            b{
                font-weight:$text-second;
                font-family:$main-font;
            }
        }
        ul { list-style: none;
            text-align: left;
            li{
             
                a{
                   color:$main-color;
                    text-decoration: none;
                    font-family:$main-font;
                    &:hover{
                        color:$fourth-color;
                    }
                }
            }

        }
          
      }


 .prod-model {
    
    margin-top: 10px;
    width: 80%;
    height: auto;
    gap: 30px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows:repeat(2,1fr);
   
    margin: 10px auto;
    padding-bottom: 10px;
    
    figure { width: 100%;
        height: 100%;
        margin-bottom: 10px;
       margin-top: 10px;
        padding: 0 10px;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 3px;
        
        img {
            width: 100%;
            height: 80%;
            align-items: center;
            object-fit: cover;
        } 
        figcaption {
            font-family: $main-font;
            color: $main-color;
            font-size: 1.4em;
            font-weight:$text-second;

        } 
        p { 
        text-align: center; 
        align-items: center;
        text-decoration-color: $main-color;
        font-weight:350;
        font-family:$main-font;
        }
        button {
            border: color( $main-color);
            border-width: 1px;
            border-radius: 4px;
            text-decoration:$main-font;
            background-color:$white;
            padding: 3px;
            margin-top: 5px 0 ;
            width: 70%;
            transition: 3s;
            &:hover{
                background-color:$color-second;
                transition: 1.5s;
               
            }
        } }
    
 }
