.navbar-brand {
    display: inline-flex;
font-weight: 500;
border: solid black;
font-family: $main-font;
   span{
     font-size:6em;    
}
     h1 { 
    font-size: 6em;
}
}
.nav-link { 
    font-weight:$text-second;
    font-family: $main-font;
}

