$main-color:rgb(0, 0, 0);
$color-second:rgb(183, 128, 60);
$color-third:rgb(128, 128, 128);
$white: rgb(255, 255, 255);
$fourth-color: rgb(225, 135, 18);

//fonts
$main-font: 'playfair Display', serif;

//sizes
$text-sm:0.8em;
$text-md:1em;
$text-lg:2em;
$text-xl:3em;

//weight
$text-regular:500;
$text-first:600;
$text-second:700;
$text-third:800;